
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

#nav-logo {
  display: block;
}

body {
  font-family: "BlinkMacSystemFont";
  color: #091E42;
}
/* Fix for responsive images */
img {
  max-width: 100%;
}

h1 {
  text-align: center;
  padding: 50px 0px;
  background-color: #FFAB00;
  font-family: "circularpro-book";
  font-size: 50px;
  color: #172B4D;
}
h3 {
  font-size: 18px;
  font-family: "circularpro-book";
  text-transform: uppercase;
}

.home {
  margin: 20% 20% 30% 20%;
  font-size: 25px;
}

.navbar {
  background-color: #0052CC;
  color: white;
}
.navbar a {
  color: white;
  /*font-family: "circularpro-book";*/
  text-decoration: none !important;
  }

#nav-logo img { display:
  inline-block;
  max-height: 25px;
  vertical-align: middle;
  margin-right: 4px;
}
#nav-logo a {
  display: inline-block;
  vertical-align: middle;
  /*margin-bottom:2px;*/
}

.navbar-toggle .icon-bar { background-color: white; }

/*#home-title {
  color: #505F79;
  font-size: 50px;
  margin-left: 27%;
}*/

#home-image {
  display: block;
  margin: 0 auto;
}

.main-content {
padding-left: 6%;
padding-right: 6%;
margin-bottom: 50px;
}


summary {
  background-color: #FF5630;
  padding: 25px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 15px;
  color: white;
}

p {
  font-size: 16px;
  line-height: 28px;
}

.btn-home {
  display: block;
  width: 100px;
  margin: 50px auto 0;
  background-color: #0052CC;
  color: white;
  width: 150px;
  font-size: 15px;
}

#thank-you-note {
  text-align: center;
  font-size: 40px;
}

#thankyou-section {
  padding-top: 250px;
  padding-bottom: 200px;
}

.product-image {
  border: 1px solid #B3BAC5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.photo {
  margin-top: 21px;
}

/*kb button below*/
.btn-sm {
  margin-top: 10px;
  background-color: #FFAB00;
  font-size: 12px;
  font-weight: 600;
}
.btn-sm a {
  color: #172B4D;
}

/*grow image*/

.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
transition: 1s ease;
}
