
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

body {
  font-family: "BlinkMacSystemFont";
";
  color: #091E42;
}
/* Fix for responsive images */
img {
  max-width: 100%;
}

h1 {
  text-align: center;
  padding: 50px 0px;
  background-color: #FFAB00;
  font-family: "circularpro-book";
  font-size: 40px;
}

.home {
  margin: 20% 20% 30% 20%;
  font-size: 25px;
}

.navbar {
  background-color: #0052CC;
  color: white;
}

.navbar a {
  color: white;
  }

#home-title {
  color: #505F79;
  font-size: 50px;
  margin-left: 27%;
}

/*#home-intro {
  margin-top: 50px;
}*/

#home-image {
  display: block;
  margin: 0 auto;
}
.main-content {
padding-left: 10%;
padding-right: 10%;
}


summary {
  background-color: #FF5630;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
}

p {
  font-size: 16px;
  line-height: 28px;
}

.btn-home {
  /*margin-top: 20px;*/
  display: block;
  width: 100px;
  margin: 50px auto 0;
  /*font-family: helvetica;*/
  border-color: #67aa47;
  color: #67aa47;
}
