
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

.home {
  margin: 20% 20% 30% 20%;
  font-size: 25px;
}

.navbar {
  background-color: #0052CC;
  color: white;
}

.navbar a {
  color: white;
  }

#home-title {
  color: #505F79;
  font-size: 50px;
  margin-left: 27%;
}

#home-intro {
  margin-top: 50px;
}

#home-image {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 50px 0px;
  background-color: #FFAB00;
  font-family: "circular-pro";
}

summary {
  background-color: #4C9AFF;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
}

p {
  font-size: 16px;
}

.btn-home {
  /*margin-top: 20px;*/
  display: block;
  width: 100px;
  margin: 50px auto 0;
  font-family: helvetica;
  border-color: #67aa47;
  color: #67aa47;
}
